html {
    box-sizing: border-box;
}
body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, blue , black);
}

.main__container {

}

h2 {
    color: white;
}

.main__container-text {
    text-align: center;
    font-size: 3rem;
    color: white;
}

.button__container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    cursor: pointer;
    border:none;
    border-radius: 10px;
    color: white;
    background: #333;
    outline: none;
    padding: 0.5rem 1.8rem;
    box-shadow: 0 0.3rem rgba(121, 121, 121, 0.45)
}

button:hover {
    background-color: rgb(54, 54, 51);
}

button:active {
    transform: translate(0, 0.3rem);
    box-shadow: 0 0.1rem rgba(255, 225, 225, 0.45)
}


@media screen and (max-width: 1000px) {
    .main__container-text {
    text-align: center;
    font-size: 2rem;
    }

    button {
    font-size: 1.2rem;
    }
}